# MongoDB Atlas Connection
MONGO_URI=mongodb+srv://vamshikodi18_db_user:Mongodb#$547110@cluster0.ryf6jpz.mongodb.net/?appName=Cluster0

# Server Configuration
PORT=4000
NODE_ENV=development

# JWT Configuration
JWT_SECRET=LivePop_2025_SecureKey_9x7mK3pQ8wL2nF5vR1jH4tY6uB0zC
JWT_EXPIRES_IN=7d

# Socket.IO Configuration
BROADCAST_INTERVAL_MS=1000

# CORS Configuration
CORS_ORIGIN=http://localhost:5173
